<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Device Management{% endblock %}</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Các trang con có thể chèn CSS riêng ở đây -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
  {% block css %}
  {% endblock %}
</head>
<body>

  <!-- Header Section -->
  <header>
    <div class="navbar">
      <a href="#" class="logo">DEVICE MANAGEMENT</a>
      <nav>
        <ul>
          <li><a href="{{ url_for('main.index') }}">Quản lý thiết bị</a></li>
          <li><a href="{{ url_for('main.repair') }}">Thông tin bảo trì</a></li>
          <li><a href="{{ url_for('main.maintenance') }}">Thiết bị đang bảo trì</a></li>
        </ul>
      </nav>
      <div class="user-account">
        <a href="{{ url_for('main.login') }}"><button class="btn-login">Đăng Xuất</button></a>
      </div>
    </div>
  </header>

  <!-- Main Content Area -->
  <main>
    {% block content %}  <!-- Content section will be replaced by child templates -->
    {% endblock %}
  </main>

  <!-- Footer Section -->
  <footer>
    <p>@copyright: LeandeWeb - version: 1.0 in 2025.</p>
  </footer>

</body>
</html>
