body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: var(--background-body-color);
    color: var(--text-color);
}

.sidebar {
    width: 200px;
    background-color:var(--header-color);
    padding: 20px;
}

.sidebar h2 {
    color: #fff;

}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px 0;
    cursor: pointer;
    color: #fff;
}

.sidebar li:hover {
    background-color: var(--sub-header-color);
}

.content {
    flex: 1;
    padding: 50px;
    overflow-y: auto;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

input, select, button {
    display: block;
    margin: 10px 0;
    padding: 8px;
    border-radius: 4px;
    border: none;
}

input, select {
    width: 300px;
    margin-bottom: 20px;
}

button {
    background-color: var(--button-color);
    color: #fff;
    cursor: pointer;
    width: 180px;
    height: 40px;
}

button:hover {
    background-color: var(--button-hover-color);
}

.permissions label {
    margin-right: 10px;
    color: var(--text-header-color);
    line-height: 50%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid var(--sub-header-color);
}

th, td {
    padding: 10px;
    text-align: left;
}

th{
    background-color: var(--header-color);
}


#manageUsers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#manageUsers table{
    background-color: var(--table-color);
    color: var(--text-header-color);
    width: 80%;
}