
/* Phần bảo trì thiết bị */
.maintenance {
  width: 100%;
  background-color: var(--table-color);
  padding: 50px;
}

.maintenance h2 {
  font-size: 34px;
  margin-bottom: 20px;
}

hr{
  width: 550px;
  height: 2px;
  background-color: white;
}

.maintenance .device-info{
  display: flex;
}

.maintenance .device-info .detail-infor{
  margin-right:70px ;
}

.container-table-repair{
    display: flex;
    flex-direction: column;
    background-color: var(--background-body-color);
    align-items: center;
    justify-content: center;
}

.container-table-repair h3{
    color: var(--text-color);
    margin: 15px 0;
    font-weight: 600;
}

.container-table-repair p{
    color: var(--text-color);
}

.container-table-repair .maintenance-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Biểu mẫu nhập liệu cho bảo trì */
.container-table-repair table {
  width: 70%;
  border-collapse: collapse;
  margin-bottom: 20px;
    background-color: var(--table-color);
}

.container-table-repair th, .container-table-repair td {
  padding: 12px;
  text-align: left;
  border: 1px solid #707070;
}

.container-table-repair th {
  background-color: var(--header-color);
  color: white;
}

.container-table-repair tr:hover {
  background-color: var(--sub-header-color);
}

/* Các ô nhập liệu */
.container-table-repair input, .container-table-repair textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--background-body-color);
}

.container-table-repair textarea {
  resize: vertical;
}

 .btn-submit{
 background-color: var(--button-color);
    color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
 }

.btn-submit:hover {
  background-color: var(--button-hover-color);
}

#btn_ex,#btn_maintenance{
    background-color: var(--button-4-color);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
}