@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
}

body {
  font-size: 1.6rem;
}
:root {
  --primary: #5429FF;
  --secondary: #CBCCE8;
  --text-dark: #344054;
  --text-light: #667085;
}
input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none;
}


.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.signin-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  gap: 3rem;
  align-items: center;
}

.signin-form {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.signin-form {
  display: flex;
}
.signin-form>a{
  display: flex;
}
.signin-form >a>p{
  padding-top: 5rem;
  font-size: 3rem;
}
.signin-form>a>img{
width: 13rem;
margin-top: 2.4rem;
font-size: 3rem;
}
.error-message{
  color: red;
}
.form-container {
  height: 100%;
  padding-top: 5rem;
  margin-left: 17rem
}

.heading h1 {
  font-size: 4.2rem;
  font-weight: 700;
  color: var(--text-dark);

}

.paragraph {
  color: var(--text-light);
  font-size: 1.6rem;
  padding: 3rem 0 5rem 0;
}

.signin_form {
  width: 35rem;
}

.input-form-container {
  padding: 1rem 0;
}

.input-form-container label {
  color: var(--text-light);
  font-weight: 500;
  font-size: 1.6rem;
}

.input-group {
  margin-top: 1rem;
  padding: 0.7rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.15rem solid #D0D5DD;
  border-radius: 0.5rem;
}

.input-group input {
  width: 100%;
  font-size: 1.7rem;
  padding: 0.2rem 0.5rem;
  border: none;
  outline: none;
}

.input-group ion-icon {
  font-size: 2.4rem;
  color: #D0D5DD;
}

.d-flex {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 3rem;
  justify-content: space-between;
}

.link {
  color: var(--primary);
  font-weight: 500;
}

.btn {
  display: block;
  padding: 0.7rem 1.2rem;
  width: 100%;
  text-align: center;
}

.btn-primary {
  color: #fff;
  background: var(--primary);
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 1.6rem;
  border-radius: 0.5rem;
}

.btn-signup {
  border: 0.15rem solid #D0D5DD;
  color: var(--text-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: 500;
}

.input-form-container .paragraph {
  text-align: center;
}

.img-container {
  background: var(--secondary);
  border-radius: 3rem;
}

.img-container img {
  width: 100%;
  border-radius: 2rem;
}
@media (max-width: 767px) {
  .container {
  margin-top: 10rem;
}
  .signin-container {
    grid-template-columns: 1fr;
  }
  .form-container {
    padding-top: 5rem;
    margin-left: 0;
  }
  .signin-form {
    align-items: center;
    text-align: left;
  }
  .signin-image {
    display: none;
  }
  .signin-form {
    height: 123%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .signin-container {
    gap: 3rem;
  }
  .form-container {
  margin-bottom: 10rem;
    margin-left: 5rem;
  }
  .signin-form {
    align-items: center;
    text-align: left;
  }
  .signin-form {
    height: 123%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.container {
  max-width: 118rem;
  margin: -172px auto;
  padding: 0 1rem;
}
}
@media (min-width: 1024px) and (max-width:1500px){
  .signin-container {
    gap: 3rem;
  }
  .form-container {
    padding-top: 15rem;
    margin-left: 17rem;
  }
  .signin-form {
    align-items: flex-start;
    text-align: left;
  }
  .signin-image {
    display: block;
  }
  .signin-form {
    height: 123%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.signin_name {

}

#mess_error {
  font-size: 13px;
  color: red;
  margin-top: 10px;
  text-align: center;
}}}