.paginate h2{
  margin: 15px 0;
}

/* Phần bảo trì thiết bị */
.maintenance {
  background-color: var(--background-body-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  justify-content: center;
}

.maintenance h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

/* Chọn thiết bị */
.device-selection input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.device-selection h3{
  color: white;;
}


/* Tiêu đề và khu vực tìm kiếm */
h2 {
  color: #ffffff;
}

.search-bar {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-bar input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 30px;
  width: 400px;
}

.search-bar .btn-search {
  padding: 10px 20px;
  background-color: var(--button-color);
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-bar .btn-search:hover {
  background-color: var(--button-hover-color);
}

.maintenance .device-selection{
  width: 100%;
  display: flex;
  justify-content: center;
}

.device-selection table {
  width: 70%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: var(--table-color);
}

.device-selection th, .device-selection td {
  padding: 12px;
  text-align: left;

}

.device-selection th {
  background-color:var(--header-color);
  color: white;
    border: 1px solid #707070;
}

.device-selection td {
  color: white;
    border: 1px solid #707070;
}

.device-selection tr:hover {
  background-color: #231c1c;
}

.btn-select{
    background-color: var(--button-color);
  color: white;
  border: none;
  height: 30px;
  width: 70px;
}
