.section{
    display: flex;
    flex-direction: column;

}


input, select, button {
    display: block;
    margin: 10px 0;
    padding: 8px;
    border-radius: 4px;
    border: none;
}

input, select {
    width: 300px;
    margin-bottom: 20px;
}

button {
    background-color: var(--button-color);
    color: #fff;
    cursor: pointer;
    width: 180px;
    height: 40px;
}

button:hover {
    background-color: var(--button-hover-color);
}

.permissions label {
    margin-right: 10px;
    color: var(--text-header-color);
    line-height: 50%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #fff;
}

th, td {
    padding: 10px;
    text-align: left;
}

.error-message {
    color: red;
}

/* Switch container căn giữa */
.switch-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

/* Switch toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4CAF50; /* Màu khi bật */
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Label bên phải switch */
.switch-label {
    margin-left: 10px;
    font-size: 14px;
    color: #333;
}