
#manageUsers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

table {

    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
        border: 1px solid var(--sub-header-color);

}

th, td {
    padding: 10px;
    text-align: left;
}


#manageUsers table{
    background-color: var(--table-color);
    color: var(--text-header-color);
    width: 60%;
}


button {
    background-color: var(--button-color);
    color: #fff;
    cursor: pointer;
    width: 180px;
    height: 40px;
}

button:hover {
    background-color: var(--button-hover-color);
}
